APP_NAME=Payment Compliance MVP
APP_ENV=local
DEBUG=true

DATABASE_URL=postgresql+psycopg://payment_app:payment_pass@postgres:5432/payment_compliance

JWT_SECRET_KEY=change-me-local-jwt-secret
JWT_EXPIRES_MINUTES=60

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin123
SEED_OPERATOR_USERNAME=operator
SEED_OPERATOR_PASSWORD=operator123
SEED_AUDITOR_USERNAME=auditor
SEED_AUDITOR_PASSWORD=auditor123

